<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> love JADE</title>
    <style>
      body {
         color: #ff6600
      }
    </style>
  </head>
  <body>
    <p>desc from layout</p>
    <h3>模板继承</h3>
    <h2>mixin</h2>
        <p>hello world</p>
        <p>Jihann</p>
        <ul class="lessons">
          <li>jade</li>
          <li>express</li>
        </ul>
        <h4>Jihann</h4>
            <p>Jihann</p>
            <ul class="lessons">
              <li>java</li>
              <li>go</li>
            </ul>
    <h2>流程</h2>
    <h3>for each</h3>
    <p>Jihann</p>
    <p>22</p>
    <p>name : Jihann</p>
    <p>age : 22</p>
        <h4>How old are you ?</h4>
        <p>i'am 22</p>
    <p>java</p>
    <p>c#</p>
    <p>go</p>
    <h3>if else</h3>
    <p>node, node</p>
    <h3>unless</h3>
    <p>2</p>
    <h2>注释</h2>
    <h3>单行注释</h3>
    <!--  h3#title.title  jade is very good-->
    <section></section>
    <h3>非缓冲注释</h3>
    <div id="show" class="class1 class2"></div>
    <div id="id" class="class1 class2"><a href="http://www.baidu.com" target="_blank">link</a></div>
    <h3>块注释</h3>
    <p>this is jade</p>
    <input type="text" value="undefined">
    <input type="text">
    <ul></ul><strong></strong>
    <hr>
  </body>
</html>